<% if obj.errors.any? %>
<div class="error-frame">
  <% obj.errors.full_messages.each do |message| %>
    <ul>
      <li class="error-messages"><%= message %></p>
    </ul>
  <% end %>
</div>
<% end %>
